<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.p2p.common.mapper.IplogMapper" >
  <resultMap id="BaseResultMap" type="com.gxa.p2p.common.domain.Iplog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="loginInfoId" property="logininfoid" jdbcType="BIGINT" />
    <result column="userType" property="usertype" jdbcType="TINYINT" />
    <result column="loginTime" property="logintime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `iplog`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gxa.p2p.common.domain.Iplog" useGeneratedKeys="true" keyProperty="id" >
    insert into `iplog` (ip, state, username, 
      loginInfoId, userType, loginTime
      )
    values (#{ip,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{username,jdbcType=VARCHAR}, 
      #{logininfoid,jdbcType=BIGINT}, #{usertype,jdbcType=TINYINT}, now()
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gxa.p2p.common.domain.Iplog" >
    update `iplog`
    set ip = #{ip,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      username = #{username,jdbcType=VARCHAR},
      loginInfoId = #{logininfoid,jdbcType=BIGINT},
      userType = #{usertype,jdbcType=TINYINT},
      loginTime = #{logintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, ip, state, username, loginInfoId, userType, loginTime
    from `iplog`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, ip, state, username, loginInfoId, userType, loginTime
    from `iplog`
  </select>
</mapper>